{
    "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            globals: ["Error", "Array"]
        }],
        ['@babel/plugin-proposal-class-properties']
    ],
    "presets": [
        ["@babel/preset-env", {
            "modules": false
        }]
    ],
    "ignore": [
        "node_modules/**"
    ]
}