# SeminarCatalogApi.TestResult

## Properties
Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**points** | **Number** |  | [optional] 
**testDate** | **Number** |  | [optional] 
**specificPoints** | **Number** |  | [optional] 
**status** | **Number** |  | [optional] 
**exported** | **Number** |  | [optional] 
**approved** | **Number** |  | [optional] 
**annotation** | **String** |  | [optional] 
**finalizedPoints** | **Number** |  | [optional] 
**syncFields** | **[String]** |  | [optional] 
**id** | **Number** |  | [optional] 
**foreignId** | **String** |  | [optional] 
**language** | **Number** |  | [optional] 
**createDate** | **Number** |  | [optional] 
**changeDate** | **Number** |  | [optional] 
**deleted** | **Number** |  | [optional] 
**hidden** | **Number** |  | [optional] 
**sorting** | **Number** |  | [optional] 
**tags** | **String** |  | [optional] 


